<h2 class="text-center"><%= t "phases.edit" %></h2>
<div id="phases" class="edit-phase">
  <div class="col-md-9 col-md-offset-1">
    <%= form_for [:admin, @phase] do |f| %>
      <%= render "shared/error_messages", object: @phase %>
      <%= render "form", f: f %>
    <% end %>
  </div>
</div>
