<div id="delete-column-dialog" class="dialog dialog-hidden">
  <div id="delete-column" class="delete-column"
    data-master-sprint="<%= master_sprint.id %>"
    data-project="<%= project.id %>" data-sprint="<%= sprint.id %>">
    <%= t "delete.column" %>
  </div>
</div>
