<div class ="row">
  <ul class="nav nav-tabs" id="sprint-with-wpd-tab">
    <li>
      <%= link_to t("sprints.sprint"), "#show-sprint", data: {toggle: "tab"} %>
    </li>
    <li>
      <%= link_to t("work_performances.view"), "#show-work-performances", data: {toggle: "tab"} %>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="show-sprint">
      <%= render "sprints/show_sprint" %>
    </div>
    <div class="tab-pane" id="show-work-performances">
      <%= render "work_performances/work_performances" %>
    </div>
  </div>
</div>
