<%= render "shared/category_tab", project: @project, active_tab: @sprint.id %>
<div id="sprints">
  <%= @sprint.description %>
  <p class="pull-right"><%= link_to t("work_performances.view"),
    project_sprint_work_performances_path(@project, @sprint) %></p>
</div>
<div id="gridbox"></div>
