@import "../common/variables/color";

#phases {
  margin-right: 0px;
  margin-left: 0px;

  .title {
    margin-bottom: 10px;
    text-align: center;
    color: $light-black;
    font-size: x-large;
  }

  .custab {
    border: 1px solid $boder-grey;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px $boder-grey;
    transition: 0.5s;
    }

  .custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

  #tbl-list-phase {
    th {
      text-align: left;
    }

    .id {
      width: 5%;
    }

    .name {
      width: 35%;
    }

    .description {
      width: 50%;
      max-width: 200px;
      min-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .action {
      width: 10%;
    }
  }
}
