.thead_table {
  background-color: #628DB6;
  color: #FFFFFF;
}

.product_backlog {
  margin-left: -95px;
}

.product_backlog h1 {
  line-height: 1.42857143;
  text-align: left;
}

.table tr th {
  text-align: center;
}

.table tr {
  .point_number {
    text-align: right;
  }
}

.clearfix {
  margin-bottom: 50px;
}

.edit_icon {
  color: #628DB6;
}

.delete_icon {
  color: #EE0000;
  margin-left: 37%;
}
