#wrapper #work-performance-datas {
  padding: 20px 1px 1px 1px;
  .index {
    width: 2%;
  }
  .assigned {
    width: 10%;
    padding: 5px;
  }

  .assignee {
    text-align: left;
  }

  .activity {
    width: 25%;
  }

  .tbl-work-performance-datas {
    th {
      background-color: #628DB6;
      margin: 0;
      padding: 5px;
      min-width: 40px;
      color: #fff;
      border: 1px solid #F3F3F3;
     }

    td {
      margin: 0;
      padding: 5px;
      border: 1px solid #F3F3F3;
      vertical-align: middle !important;
    }

    .value {
      text-align: center;
    }
  }
}

.chart-type {
  margin-left: 630px;
  margin-top: 15px;
  padding-right: 15px;
}
#performance_chart {
  width: 600px;
  float: left;
  margin: 15px;
}

#create-work-performance {
  float: right;
  margin-right: 30px;
}
