$white: #FFFFFF;
$black: #252C3A;
$milk-white: #F8F8F8;
$red: #f00;
$light-grey: #EEEEEE;
$light-black: #474647;
$darken-grey: #7F7F7F;
$boder-grey: #D1D1D1;
$header-blue: #628DB6;
$light-orrange: #FABF8F;
