#activities {
  th {
    background-color: #366092;
    margin: 0;
    padding: 0;
  }

  td {
    margin: 0;
    padding: 0 0px;
    input, select {
      display: block;
      margin: 0;
      border: 0;
      width: 100%;
      line-height: 1.3em;
      background: transparent;
      &:focus{
        outline: none;
      }
    }

    select {
      padding-bottom: 2px!important;
      option {
        padding: 0px!important;
      }
    }
  }

  .master-data > td {
    border-color: #FFF;
  }

  .panel-left {
    text-align: center!important;
  }

  .estimated {
    background-color: #FABF8F;
  }

  .assigned {
    background-color: #FFFFFF;
  }

  .default {
    background-color: #7F7F7F;
  }

  .processed {
    background-color: #3C763D;
  }
}
