@import "common/variables/color";

#activities {
  border: none;

  .fa-2x {
    font-size: 1.3em;
  }

  th {
    margin: 0;
    padding: 0 5px;
    min-width: 40px;
  }

  td {
    margin: 0;
    padding: 0 5px;
    border-color: $boder-grey;
    input, select {
      display: block;
      margin: 0;
      border: 0;
      width: 100%;
      line-height: 1.3em;
      background: transparent;
      &:focus{
        outline: none;
      }
    }

    select {
      padding-bottom: 2px!important;
      option {
        padding: 0px!important;
      }
    }
  }

  td, th {
    min-width: 40px;
    padding-right: 0px;
    padding-left: 0px;
    vertical-align: middle;
  }

  .master-data > td {
    border-color: $white;
  }

  .left-side {
    width: 35%;
    min-width: 525px;
    vertical-align: middle;
    border-left-width: 1px;
    border-color: $white;
  }

  .start-date {
    width: 10%;
    vertical-align: middle;
    text-align: center;
  }

  .panel-left {
    text-align: center!important;
  }

  .estimated {
    background-color: $light-orrange;
  }

  .assigned {
    background-color: $darken-grey;
  }

  .delete_task {
    width: 2%;
    border-right-width: 1px;
  }

  .last-date-row {
    border: 1px solid $boder-grey;
    border-left-width: 0px;
  }

  .default {
    background-color: $darken-grey;
  }

  .processed {
    background-color: $white;
  }

  .story {
    width: 5%;
    min-width: 70px;
  }

  .underline {
    text-decoration: underline;
  }

  .none-border {
    border-top-width: 1px;
    border-top-color: $white;
  }

  .master-sprint-working-day {
    vertical-align: middle;

    .index {
      width: 2%;
    }

    .delete_task {
      width: 2%;
      border-right-width: 1px;
    }

    .story-id {
      width: 5%;
      min-width: 70px;
    }

    .task-id {
      width: 5%;
      min-width: 70px;
    }

    .action {
      width: 40px;
      min-width: 40px;
    }

    .task-name {
      width: 25%;
      min-width: 380px;
    }

    .sprint-worked {
      width: 10%;
      min-width: 170px;
      text-align: center;
    }

    .sprint-remaining {
      min-width: 40px;
      text-align: center;
    }
  }

  .today {
    background-color: $red;
  }
}

.th-color {
  background-color: $header-blue;
  color: $white;
}

#input_wpd {
  cursor: pointer;
  color: $white;
}

#input_performance_dialog {
  padding: 5px;
  margin: 0 5px;
  color: black;
  text-align: left;
  font-weight: bold;
}

#input_wpd .dialog {
  position:absolute;
  background-color: $light-pink;
  padding: 5px 10px;
  z-index:10;
  width: 350px;
  height:auto;
  border: 1px solid $boder-grey;
  border-radius: 10px;
}
