#activities {
  th {
    background-color: #628DB6;
    margin: 0;
    padding: 0 5px;
    min-width: 40px;
    color: #fff;
  }

  td {
    margin: 0;
    padding: 0 5px;
    border-color: #F3F3F3;
    input, select {
      display: block;
      margin: 0;
      border: 0;
      width: 100%;
      line-height: 1.3em;
      background: transparent;
      &:focus{
        outline: none;
      }
    }

    select {
      padding-bottom: 2px!important;
      option {
        padding: 0px!important;
      }
    }
  }

  td, th {
    width: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .master-data > td {
    border-color: #FFF;
  }

  .left-side {
    width: 525px;
    min-width: 525px;
    vertical-align: middle;
    border-left-width: 1px;
    border-color: #FFF;
  }

  .start-date {
    width: 140px;
    vertical-align: middle;
    text-align: center;
  }

  .panel-left {
    text-align: center!important;
  }

  .estimated {
    background-color: #FABF8F;
  }

  .assigned {
    background-color: #7F7F7F;
  }

  .default {
    background-color: #7F7F7F;
  }

  .processed {
    background-color: #FFFFFF;
  }

  .story {
    width: 70px;
  }

  .underline {
    text-decoration: underline;
  }

  .none-border {
    border-top-width: 1px;
    border-top-color: #FFF;
  }

  .master-sprint-working-day {
    vertical-align: middle;

    .story-id {
      width: 70px;
      min-width: 70px;
    }

    .task-id {
      width: 70px;
      min-width: 70px;
    }

    .action {
      width: 40px;
      min-width: 40px;
    }

    .task-name {
      width: 380px;
      min-width: 380px;
    }

    .sprint-worked {
      min-width: 170px;
      text-align: center;
    }

    .sprint-remaining {
      min-width: 40px;
      text-align: center;
    }
  }

  .today {
    background-color: #f00;
  }
}
