@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-custom {
  background-color: #628DB6;
  a {
    color: #FFFFFF;
    font-size: 1em;
  }
}

.navbar-fixed-top {
  position: relative;
  margin-bottom: 0px;
}

#logo {
  padding-left: 10px;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  letter-spacing: -1px;
  padding-top: 6px;
  font-weight: bold;
}

#logo:hover {
  color: #F8F8F8;
  text-decoration: none;
}

.container {
  margin-right: 10px;
}

.wrapper {
  margin-top: 4px;
  .error_explanation {
    padding-left: 150px;
  }

  #work-performance-datas, #sprints {
    padding: 15px 25px;
  }

  #lost_hour_form {
    height: 100%;
  }
}

#error_explanation {
  padding: 0px 50px 0px 50px;
}

.flash-message {
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px 40px 5px 40px;
}

html, body {
  height: 100%;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #576980;
}

#category-tab {
  position: fixed;
  bottom: 0px;
  height: 38px;
  width: 100%;
  background: #EEEEEE;

  .container-fluid {
    width: 100%;
    margin-top: 5px;
    position: fixed;
    height: 39px;
    border-top-style: solid;
    border-color: #C4C4C4;
    border-width: 1px;
    padding-top: 0px
  }

  #sprint-view ul {
  width: 70%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -1px;
  padding-top: 3px;
  margin-left: 10px;

  li {
    float: none;
    display: inline;
    a {
      color: #252C3A;
      border-style: solid;
      border-color: #D1D1D1;
      border-width: 1px;
      border-top-width: 0px;
      display: inline;
      margin-right:  -5px;
      padding: 7px 5px 7px 5px;
    }
    a:hover {
      background-color: #F8F8F8;
    }
  }

  .active {
    a {
      background-color: white;
      padding-top: 5px;
    }
  }
  }

  #left, #right {
    a {
    margin-left: 5px;
    padding: 4px 0 4px 0;
    color: #6F7682;
    }
    a:hover {
      color: black;
    }
  }

  #dLabel {
    margin-top: -1px;
    margin-right: 20px;
  }

  .glyphicon-plus {
    color: #6F7682;
    margin-top: 5px;
    margin-right: 5px;
    }
    .glyphicon-plus:hover {
      color: black;
  }

  .navbar-right .dropdown-menu {
    right: 20px;
    bottom: 35px;
  }
}

textarea {
  resize: none;
}

#header {
  .navbar-nav > li > a {
    height: 44px;
    padding-top: 14px;
  }
}

.navbar {
  min-height: 44px !important;
}

.invite-text {
  padding-left: 10px;
}
.email-form {
  float: right;
  padding-right: 50px;
}

.invite-user {
  padding: 0px 30px 0px 30px;
}

.submit_update {
  margin-left: 15px;
}
