@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-custom {
  background-color: #628DB6;
  a {
    color: #FFFFFF;
    font-size: 1em;
    }
  }

#logo {
  padding-left: 10px;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #576980;
  text-decoration: none;
}

.container {
  margin-right: 10px;
}

.wrapper {
  margin-top: 55px;
  .error_explanation {
    padding-left: 150px;
  }

  #work-performance-datas, #sprints {
    padding: 15px 25px;
  }
}
