@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-custom {
  color: #B4F2A0;
  background-color: #B4F2A0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #ffefef;
  text-decoration: none;
}

.wrapper {
  margin-top: 55px;
}
