#product_backlogs {
  padding-top: 15px;
  .center {
    text-align: center;
  }
  .default {
    background-color: white;
  }

  .in_progress {
    background-color: rgb(0, 176, 240);
    color: white;
    option {
      color: black;
    }
  }

  .finished {
    background-color: #7F7F7F;
    color: white;
    option {
      color: black;
    }
  }

  .fa-2x {
    font-size: 1em;
  }

  th {
    height: 30px;
    background-color: #628DB6;
    margin: 0;
    min-width: 40px;
    color: #fff;
    border: none;
  }

  td {
    margin: 0;
    padding: 0 5px;
    border-color: rgba(221, 221, 221, 0.62);
    input, select {
      padding-top: 5px;
      display: block;
      margin: 0;
      border: 0;
      width: 100%;
      line-height: 1.3em;
      background: transparent;

      &:focus{
        outline: none;
      }
    }

    select {
      padding-bottom: 2px!important;
      option {
        padding: 0px!important;
      }
    }
  }

  td, th {
    width: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .glyphicon {
    top: 0px;
  }

  .dropdown-menu {
    min-width: 75px;
    margin-left: 14px;
  }
}
.product_backlog_table_scroll {
  border-spacing: 0;

  tbody, thead {
    display: block;
  }

  thead {
    background: #628db6;
  }

  tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#product_backlog {
  padding-left: 0px;
}

.product_backlog_table_scroll tbody tr {
  .id {
    width: 5% !important;
  }

  .story-id {
    width: 9% !important;
  }

  .category {
    width: 11% !important;
  }

  .story {
    width: 18% !important;
  }

  .sprint {
    width: 12% !important;
  }

  .priority {
    width: 7% !important;
  }

  .estimate {
    width: 8% !important;
  }

  .actual {
    width: 7% !important;
  }

  .remaining {
    width: 10% !important;
  }

  .action {
    width: 5% !important;
  }
}
