#product_backlogs {
  padding-top: 15px;
  .center {
    text-align: center;
  }
  .default {
    background-color: white;
  }

  .in_progress {
    background-color: rgb(0, 176, 240);
    color: white;
    option {
      color: black;
    }
  }

  .finished {
    background-color: #7F7F7F;
    color: white;
    option {
      color: black;
    }
  }

  .fa-2x {
    font-size: 1em;
  }

  th {
    height: 30px;
    background-color: #628DB6;
    margin: 0;
    min-width: 40px;
    color: #fff;
  }

  td {
    margin: 0;
    padding: 0 5px;
    border-color: #F3F3F3;
    input, select {
      padding-top: 5px;
      display: block;
      margin: 0;
      border: 0;
      width: 100%;
      line-height: 1.3em;
      background: transparent;

      &:focus{
        outline: none;
      }
    }

    select {
      padding-bottom: 2px!important;
      option {
        padding: 0px!important;
      }
    }
  }

  td, th {
    width: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

#product_backlog {
  padding-left: 0px;
}

#tbl-product-backlog {
  .id {
    width: 5%;
  }

  .story-id {
    width: 5%;
  }

  .category {
    width: 15%;
  }

  .story {
    width: 40%;
  }

  .sprint {
    width: 10%;
  }

  .priority {
    width: 5%;
  }

  .estimate {
    width: 5%;
  }

  .actual {
    width: 5%;
  }

  .remaining {
    width: 5%;
  }

  .action {
    width: 5%;
  }
}
