
#product_backlog_input {
  overflow: hidden;
  cursor: default;
  background-color: white;

  td > .btn-xs, .btn-group-xs > .btn {
    margin: 3px 0px;
  }
}

div.gridbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#product_backlog {
  .btn-xs, .btn-group-xs > .btn {
  margin-top: 5px;
}
}
