#projects {
  margin-right: 10px;
  margin-left: 10px;
  .title {
    margin-bottom: 10px;
    text-align: center;
    font-family: "Roboto Slab, serif";
    color: #474647;
    font-size: x-large;
  }

  .box {
    margin-top: 27px;
    padding: 6px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    color: #505050;
    line-height: 1.5em;
    border: 1px solid #e4e4e4;
    word-wrap: break-word;
    font-size: 13px;
    ul li a {
      text-decoration: none;
    }
  }

  .subject-content {
    padding: 15px 25px;

  }

  .label {
    text-transform: uppercase;
    color: #9A6565;
    padding-left: 0px;
    font-size: 1em;
  }

  .project-description {
    margin-top: 0px;
  }

  .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }

  .custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

  #tbl-list-project {
    .id {
      width: 5%;
    }

    .name {
      width: 20%;
    }

    .description {
      width: 30%;
    }

    .manager {
      width: 15%;
    }

    .start-date, .end_date, .action {
      width: 10%;
    }
  }
}

#sprints {
  #chart {
    position: relative;
    z-index: 1;
  }
  .new_sprint {
    padding-top: 25px;
  }
}

#phase {
  padding-top: 25px;
  .edit-phase {
    padding-top: 25px;
  }
}
