@import "common/variables/color";
#projects {
  margin-right: 0px;
  margin-left: 0px;
  .title {
    margin-bottom: 10px;
    text-align: center;
    font-family: "Roboto Slab, serif";
    color: $light-black;
    font-size: x-large;
  }

  .box {
    margin-top: 27px;
    padding: 6px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    color: #505050;
    line-height: 1.5em;
    border: 1px solid #e4e4e4;
    word-wrap: break-word;
    font-size: 13px;
    ul li a {
      text-decoration: none;
    }
  }

  .subject-content {
    padding: 0px;

  }

  .label {
    text-transform: uppercase;
    color: #9A6565;
    padding-left: 0px;
    font-size: 1em;
  }

  .project-description {
    margin-top: 0px;
    padding-left: 0px;

    .start-date {
      font-size: 10px;
    }
  }

  .master-plan {
    margin: 50px;

    .start-sprint {
      float: left;
      font-size: 10px;
      margin-left: 10px;
    }
    .end-sprint {
      float: right;
      font-size: 10px;
      margin-right: 10px;
    }
  }

  .sprint-10-days {
    float: left;
    width: 250px;
    margin: 10px 0;
  }

  .sprint-5-days {
    float: left;
    width: 125px;
    margin: 10px 0;
  }

  .master-sprint-1 {
    background-color: #00cc99;
    height: 50px;
  }

  .master-sprint-2 {
    background-color: #eded59;
    height: 50px;
  }

  .master-sprint-3 {
    background-color: #66a3ff;
    height: 50px;
  }

  .master-sprint-4 {
    background-color: #f50949;
    height: 50px;
  }

  .master-sprint-5 {
    background-color: #fb9db6;
    height: 50px;
  }

  .master-sprint-6 {
    background-color: #bb99ff;
    height: 50px;
  }

  .master-sprint-7 {
    background-color: #ff6633;
    height: 50px;
  }

  .master-sprint-8 {
    background-color: #33cc33;
    height: 50px;
  }

  .master-sprint-9 {
    background-color: #990000;
    height: 50px;
  }

  .master-sprint-10 {
    background-color: #6699ff;
    height: 50px;
  }

  .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }

  .custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

  #tbl-list-project {
    .id {
      width: 3%;
      text-align: right;
    }

    .name {
      width: 20%;
      text-align: left;
    }

    .description {
      width: 30%;
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    .manager {
      width: 15%;
      text-align: left;
    }

    .start-date, .end-date, .action {
      width: 10%;
      text-align: center;
    }
  }
}

#sprints {
  #chart {
    position: relative;
    z-index: 1;
  }
  .new_sprint {
    padding-top: 25px;
  }
}

#phase {
  padding-top: 25px;
  .edit-phase {
    padding-top: 25px;
  }
}

.over-view-project a {
  margin-right: 15px;
  padding-right: 6px;
  padding-top: 6px;
}

.navbar-nav li a {
  padding-top: 6px;
}

.project_setting {
  .nav-tabs{
    background: $white;
    margin-bottom: 15px;

    li > a {
      border-top-color: $boder-grey;
      border-left-color: $boder-grey;
      border-right-color: $boder-grey;
    }
  }
}

.tab-body {
  background: $light-pink;
  padding-top: 15px;
  margin-bottom: 15px;
  border: 1px solid $boder-grey;
}

.update_information {
  margin-top: 30px;
}

#list_member_project {

  padding-left: 0px;
  margin-top: 10px;

  thead {
    vertical-align: middle;
    color: $white;
    background-color: $header-blue;
    font: bold 15px arial,sans-serif;
  }

  .index {
    width: 10%;
  }

  .member_name {
    width: 50%;
  }

  .member_role {
    width: 30%;
  }

  .action {
    width: 10%;
  }
}

#add_member {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 2px solid $boder-grey;

  .select_member, .choose_role_member {
    margin-bottom: 15px;
  }
}

.ui-autocomplete {
  background: $white;
  border-radius: 5px;
  padding-left: 20px;
  border: 2px solid $boder-grey;
}

.ui-menu-item {
  height: 25px;

  &:hover {
    background: $light-grey;
  }
}
