@import "common/variables/color";

.hidden-scroll {
  overflow: hidden;
}

#burndown_chart {
  width: 37%;
  min-width: 550px;
  float: left;
  margin-right: 0px;
}

.time-log {
  padding-right: 0px;
}

#sprints {
  overflow-x: auto;
  display: block;
}


#input-active {
  border: 1.5px solid #33bbff !important;
}

.activities-panel {
  display: inline-block;

  .dropdown {
    margin-left: -15px;
  }

  .dropup {
    margin-left: -15px;
  }

  .dropdown-menu {
    min-width: 44px;
    margin-left: 15px;
    text-align: center;

    li:hover {
      background: $light-grey;
      cursor: pointer;
    }

    .add-more-sprint-value, .add-more-column {
      padding: 5px 10px;
      border-bottom: 1px solid $boder-grey;
      &:hover {
        background-color: $light-grey;
        cursor: pointer;
      }
    }

    .divider {
      margin: 0px;
    }
  }

  .dropdown-menu-column{
    margin-left: 0px !important;
  }

  .dropdown-toggle{
    min-width: 40px;
  }

  .master-sprint-working-day, .master-estimate-plan, .master-estimate-plan, .actual {
    .panel-left:last-child {
      border-right: 1px solid $boder-grey;
    }
  }

  #add-more-task-in-sprint {
    width: 90px;
  }

  #save-sprint {
    margin-left: 5px;
    margin-top: 1px;
  }
}

rect {
  stroke: $boder-grey;
}

#notify-message {
  margin-right: 10px;
}

.nav-tabs {
  height: 35px;
  background: rgb(255, 254, 241);
  li > a {
    height: 30px;
    margin-top: 5px;
    padding: 5px 15px;
  }
}

td.index {
  &:hover{
    cursor: default;
  }
}

.dialog{
  position:absolute;
  background-color: $white;
  padding: 5px 0px;
  z-index:10;
  width: auto;
  height:102px;
  border: 1px solid $boder-grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dialog-visible {
  visibility: visible;
  z-index: 1011;
}

.dialog-hidden {
  visibility: hidden;
  top: 0;
}

#activities {
  border-spacing: 0;

  tbody, thead {
    display: block;
  }

  thead {
    background: $white;

    tr {
      th {
        vertical-align: middle;
      }
    }
  }

  tbody {
    overflow-y: auto;
    overflow-x: hidden;

    .index {
      width: 2%;
    }

    .story-id, .task-id {
      width: 5%;
      min-width: 70px;
    }

    .assignee-name {
      width: 10%;
      min-width: 170px;
    }

    .task-name {
      width: 25%;
      min-width: 385px;
    }
  }

  .date-of-project{
    border: 1px solid $boder-grey;
  }

  #sprint-start-date {
    border-bottom: 1px solid $boder-grey;
  }
}

.selected-column, .selected-row {
  background: $light-blue;
  color: $black;
}

.delete-column, .delete-activity {
  padding: 5px;
  margin: 0 5px;
  color: black;
  text-align: left;
  font-weight: bold;
  &:hover{
    background-color: $light-grey;
    cursor:pointer;
  }
}

.scroll_tbody::-webkit-scrollbar {
  width: 15px;
}

.scroll_tbody::-webkit-scrollbar-thumb {
  background-color: $boder-grey;
}

#sprint-with-wpd-tab {
  .fa-2x {
    font-size: 1.3em;
  }

  li > .sprint_tab {
    border-top-color: $boder-grey;
    border-left-color: $boder-grey;
    border-right-color: $boder-grey;
  }
}

#list_assignees {
  padding-left: 0px;
  padding-right: 40px;

  thead {
    vertical-align: middle;
    color: $white;
    background-color: $header-blue;
    font: bold 15px arial,sans-serif;
  }

  .index {
    width: 8%;
    text-align: center;
  }

  .assignee_name {
    width: 80%;
  }

  .action {
    width: 20%;
    text-align: center;
  }
}

#add_assignees {
  border-left: 2px solid $boder-grey;
}

.edit_sprint .row {
  padding-top: 20px;
}
