#burndown_chart {
  width: 550px;
  float: left;
}

.time-log {
  margin-left: 550px;
  padding-right: 15px;
}

#sprints {
  overflow-x: auto;
  display: block;
  height: 93%;
}

.activities-panel {
  display: inline-block;
}
