#lost_hour_table {
  td {
    margin: 0;
    padding: 0;
    min-width: 47px;
    width: 47px;
    height: 21px;
    position: relative;
    border-color: #F3F3F3;
    input {
      display: block;
      padding: 0;
      margin: 0;
      border: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      &:focus{
        outline: none;
      }
    }
  }

  .header_column {
    min-width: 200px;
    width: 200px;
    height: 25px;
    overflow: hidden;
    background-color: #628DB6;
    color: #fff;
    font: bold 15px arial,sans-serif;
    text-indent: 5px;
  }

  .assignees_name {
    background-color: #fff;
    text-indent: 5px;
  }

  .body_column {
    background-color: #628DB6;
    color: #fff;
    font-weight: bold;
  }
}

#lost_hour_form {
  .btn-info {
    margin-bottom: 20px;
  }
}

#tracking-time {
  margin-right: 15px;
  display: inline-block;
}
